{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 style="text-align: center;">{{ _('Ақжайық районы') }}</h1>

    <center>
        <img src="{{ url_for('static', filename='img/maps/Ақжайық ауданы.png') }}" usemap="#panel">
    </center>
	<map name="panel">
        {% for point in points %}
			<area shape="circle" coords="{{ point.coords }}" href="{{ url_for('main.area', area=point.name) }}">
		{% endfor %}
    </map>

	<h4 class="chapter">{{ _('Жалпы ақпарат') }}</h4>
	<p>{{ _('Ақжайық ауданы — Батыс Қазақстан облысының орталық аймағындағы әкімшілік аудан. 1997 жылға дейін "Чапаев ауданы" деп аталған') }}</p>
	<p>{{ _('Жерінің аумағы 25,2 км^2.') }}</p>
	<p>{{ _('Орталығы — Чапаев ауылы.') }}</p>

	<h4 class="chapter">{{ _('Географиялық орны және климат') }}</h4>
	<p>{{ _('Аудан Каспий маңы ойпатының солтүстік бөлігін алып жатыр. Жері жазық, күнгей бағытта еңістей береді. Жайық өзені аудан жерін Еуропалық және Азиялық бөлікке қақ жарып ағады.') }}</p>
	<p>{{ _('Климаты аса құбылмалы. Орташа ауа температурасы қаңтарда — 13-14°С, шілдеде 23-24°С. Жауын-шашынның жылдық орташа мөлшері 200-250 мм.') }}</p>

	<h4 class="chapter">{{ _('Флора мен фауна') }}</h4>
	<p>{{ _('Жалпы ауданда қоршаған ортаның табиғи сақталуы жоғары деңгейде. Алайда, соңғы жылдары іске қосылған суландыру жүйесі, егіншіліктің дамуы және фабрикалар мен зауыттар өндірісінің әсерінен осы табиғи ландшафт антропогендік өзгеріске ұшыра бастады.') }}</p>
	<p>{{ _('Өсімдік дүниесі: ақ жусан, қара жусан, мия, бидайық, ерек, емен, қайын, жыңғыл және т.б. Флорасының ерекшелігіне қарай Бударин-Мерген ауылдық округтері аралығындағы белдеу-кешенді далалық зонаға жатады, яғни мұнда өсімдік түрлерінің шоқ-шоқ болып, топталып өсуі айқын байқалады. Құс ұшар биіктен көз жетер жерге кілем төселгендей тамаша көрініс береді.') }}</p>
	<p>{{ _('Фаунаға назар аударсақ, ауданда жануарлардан қасқыр, түлкі, сарышұнақ, қосаяқ, қоян, күзен мекендейді, құстардан бос торғай, қастау қарлығашы, безгелдек, дуадақ, тырна, аққу.') }}</p>

	<h4 class="chapter">{{ _('Шаруашылығы') }} </h4>
	<p>{{ _('Ақжайық ауданының шаруашылықтың негізгі бағыттары - етті мал шаруашылығы. Қызықты дерек: ауданның атауы бойынша қой тұқымы аталады.') }}</p>
	<p>{{ _('Ауданда арпа, мал шаруашылығы үшін жемдік мақсаттарға күздік қара бидай, халыққа арналған тары, картоп және көкөніс-бақша дақылдары өндіріледі. ') }}</p>
	<p>{{ _("Ауданда май және нан зауыттары, тұрмыс қажетін өтеу комбинаты, жол жөндеу учаскесі, астық қабылдау пункті, тамақ комбинаты, орман шаруашылық кәсіпорны жұмыс істейді.") }}</p>
	<p>{{ _("Аудан аумағы арқылы Орал-Атырау автомобиль жолы өтеді.") }}</p>

	<h4 class="chapter">{{ _("Әкімшілік бөлінісі") }}</h4>
	<p>{{ _('Аудандағы 40 елді мекен 18 ауылдық округке біріктірілген:') }}</p>
	{% set districts=[
		'Ақжол ауылдық округі', 'Ақсуат ауылдық округі','Алғабас ауылдық округі', 'Алмалы ауылдық округі', 'Базартөбе ауылдық округі',
		'Базаршолан ауылдық округі', 'Бударин ауылдық округі', 'Есенсай ауылдық округі', 'Жамбыл ауылдық округі', 'Жаңабұлақ ауылдық округі',
		'Көнеккеткен ауылдық округі', 'Қабыршақты ауылдық округі', 'Қарауылтөбе ауылдық округі', 'Қурайлысай ауылдық округі', 'Мерген ауылдық округі',
		'Сарытоғай ауылдық округі', 'Тайпақ ауылдық округі', 'Чапаев ауылдық округі'] %}
	<ul>
		{% for district in districts %}
			<li>{{ district }}</li>
		{% endfor %}
	</ul>

	<h4 class="chapter">{{ _('Ақжайық ауданынан шыққан әйгілі тұлғалар') }}</h4>
	{% for person in persons %}
		<table class="table table-hover">
			<tr>
				<td width="256px"><img style='width: 256px;' src='{{ url_for("static", filename=person.face) }}'></td>
				<td>
					<h1>{{ person.name }} {{ person.surname }}</h1>
					<p>{{ person.description }}</p>
				</td>
			</tr>
    	</table>
		<br>
	{% endfor %}

    {% if form %}
    	{{ wtf.quick_form(form) }}
    <br>
    {% endif %}

    {% for post in posts %}
        {% include 'main/_post.html' %}
    {% endfor %}
	
    {% include 'main/_post_navigation.html' %}
{% endblock %}