{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 style="text-align: center;">{{ _('Ақжайық районы') }}</h1>
    <center>
        <img src="{{ url_for('static', filename='img/maps/Ақжайық.jpg') }}" usemap="#panel">
    </center>
	<map name="panel">
        {% for point in points %}
			<area shape="circle" coords="{{ point.coords }}" href="{{ url_for('main.area', area=point.name) }}">
		{% endfor %}
    </map>
	<p>Ақжайық ауданы — Батыс Қазақстан облысының орталық аймағындағы әкімшілік аудан. 1997 жылға дейін "Чапаев ауданы" деп аталған.</p> 
	<p>Жерінің аумағы 25,2 км2. Орталығы — Чапаев ауылы.</p>
	<h4 class="chapter">Әкімшілік бөлінісі</h4>
	<p>Аудандағы 40 елді мекен 18 ауылдық округке біріктірілген:</p>
	{% set districts=[
		'Ақжол ауылдық округі', 'Ақсуат ауылдық округі','Алғабас ауылдық округі', 'Алмалы ауылдық округі', 'Базартөбе ауылдық округі',
		'Базаршолан ауылдық округі', 'Бударин ауылдық округі', 'Есенсай ауылдық округі', 'Жамбыл ауылдық округі', 'Жаңабұлақ ауылдық округі',
		'Көнеккеткен ауылдық округі', 'Қабыршақты ауылдық округі', 'Қарауылтөбе ауылдық округі', 'Қурайлысай ауылдық округі', 'Мерген ауылдық округі',
		'Сарытоғай ауылдық округі', 'Тайпақ ауылдық округі', 'Чапаев ауылдық округі'] %}
	<ul>
		{% for district in districts %}
			<li>{{ district }}</li>
		{% endfor %}
	</ul>
	<h4 class="chapter">Географиялық орны, климаты</h4>
	<p>Аудан Каспий маңы ойпатының солтүстік бөлігін алып жатыр. Климаты аса құбылмалы. Орташа ауа температурасы қаңтарда — 13-14°С, шілдеде 23-24°С. Жауын-шашынның жылдық орташа мөлшері 200-250 мм. Ақжайық ауданының жерін Жайық өзені жарып ағады.</p>
	<h4 class="chapter">Өсімдігі мен жануарлар дүниесі</h4>
	<p>Ақжайық ауданының жері шөлейтті белдемге жатады. Топырағы негізінен қызғылт қоңыр, сортаң болып келеді. Өсімдіктерден: селеу, бетеге, еркек шөп, көкпек, жусан т.б. өседі. Жануарлардан: негізінен қасқыр, шиебөрі, түлкі, суыр, бөкен, елік, жабайы шошқа, құстан: қаршыға, құр, үкі, қаз, үйрек, тырна т.б. мекендейді.</p>
	<h4 class="chapter">Шаруашылығы</h4>
	<p>Ауданда май және нан зауыттары, тұрмыс қажетін өтеу комбинаты, жол жөндеу учаскесі, астық қабылдау пункті, тамақ комбинаты, орман шаруашылық кәсіпорны жұмыс істейді. Ауыл шаруашылық жерінің ауданы 12,8 мың га (1997), оның ішінде егістік — 14%, шабындық — 11%, жайылым — 72%. Суармалы дәнді дақылдар, картоп, көкөніс және бақша дақылдарын өсіру дамыған. Аудан тұрғындары мүйізді ірі қара, қой, ешкі, шошқа, жылқы, түйе өсірумен айналысады. Аудан жері арқылы Орал — Атырау, Чапаев — Жаңақала, Чапаев — Фурманов автомобиль жолы өтеді. Музыка, спорт мектебі, кәсіптік-техника учильище, кітапханалар, мәдениет үйлері, кинотеатрлар, аурухана т.б. бар. 1931 жылдан қазақ, орыс тілдерінде аудандық “Еңбек”, “Труд” газеттері шығады.</p>
	<h4 class="chapter">Халқы</h4>
	<p>Тұрғыны 40574 адам (2019). Ұлттық құрамы: қазақтар (95,76%), орыстар (3,42%), басқалары (0,82%). Тұрғындарының орташа тығыздығы 1 км2-ге 1,8 адамнан келеді.</p>
	<br>
	<h3 style="text-align: center;">{{ _('Ақжайық ауданынан шыққан әйгілі тұлғалар') }}</h3>
	{% for person in persons %}
		<table class="table table-hover">
			<tr>
				<td width="256px"><img style='width: 256px;'' src='{{ url_for('static', filename=person.face) }}'></td>
				<td>
					<h1>{{ person.name }} {{ person.surname }}</h1>
					<p>{{ person.description }}</p>
				</td>
			</tr>
    	</table>
		<br>
	{% endfor %}
    {% if form %}
    	{{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% for post in posts %}
        {% include 'main/_post.html' %}
    {% endfor %}
    {% include 'main/_post_navigation.html' %}
{% endblock %}